#Mon Jun 11 23:58:47 CEST 2007
pluginbuilder.is.generation.necessary=true
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3RC3-200706011539/eclipse-SDK-3.3RC3-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3RC3-200706011539/eclipse-RCP-3.3RC3-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=true
