#Tue May 08 20:34:54 CEST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3M7-200705031400/eclipse-SDK-3.3M7-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3M7-200705031400/eclipse-RCP-3.3M7-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp,org.rssowl.tests
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
