#Thu Feb 28 09:32:12 CET 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://download.eclipse.org/eclipse/downloads/drops/M20080221-1800/eclipse-SDK-M20080221-1800-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://www.eclipse.org/downloads/download.php?file\=/eclipse/downloads/drops/M20080221-1800/eclipse-RCP-M20080221-1800-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp,org.rssowl.tests
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
