<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Podcasting"
            id="org.rssowl.contrib.podcast">
      </category>
      <view
            name="Downloads"
            icon="icons/sample.gif"
            category="org.rssowl.contrib.podcast"
            class="org.rssowl.contrib.podcast.views.DownloadView"
            id="org.rssowl.contrib.podcast.views.DownloadView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.rssowl.contrib.podcast.views.DownloadView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="A set of actions for podcasting"
            id="org.rssowl.contrib.podcast.podcastingSet"
            label="Podcasting"
            visible="true">
         <action
               id="org.rssowl.contrib.podcast.action2"
               label="Podcasting"
               menubarPath="podcasting"
               pulldown="true"
               style="pulldown">
         </action>
         <action
               id="org.rssowl.contrib.podcast.action6"
               label="Test"
               menubarPath="podcasting/test"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="A podcasting command category"
            id="org.rssowl.contrib.podcast.podcasting"
            name="Podcasting">
      </category>
      <command
            description="A Scanning command"
            id="org.rssowl.contrib.podcast."
            name="Scan">
      </command>
   </extension>
</plugin>
