#Thu Apr 17 09:05:51 MST 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://mirror.switch.ch/eclipse/eclipse/downloads/drops/R-3.3.2-200802211800/eclipse-SDK-3.3.2-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://www.eclipse.org/downloads/download.php?file\=/eclipse/downloads/drops/M20080221-1800/eclipse-RCP-M20080221-1800-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp,org.rssowl.tests
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
