#Sun May 20 12:28:24 CEST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3RC3-2007060115390/eclipse-SDK-3.3RC1-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3RC3-200706011539/eclipse-RCP-3.3RC1-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/branches/2.0M6
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
