#Wed Mar 28 10:57:29 CEST 2007
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.eclipse.url=http\://sunsite.informatik.rwth-aachen.de\:3080/eclipse/downloads/drops/S-3.3M6-200703231616/eclipse-SDK-3.3M6-linux-gtk.tar.gz
pluginbuilder.feature.urls=http\://mirror.yoxos-eclipse-distribution.de/eclipse.org/eclipse/downloads/drops/S-3.3M6-200703231616/eclipse-RCP-3.3M6-delta-pack.zip
autotestsuite.trace=true
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.rcpbuild=true
